{% extends 'practicum/base.html' %}

{% block content %}
{% if new_feedback %}
<h2>Your Feedback has been recorded</h2>
<a href="{% url 'practicumweb:home' %}">Go back to your main page</a>
{% else %}
<h2>Add a feedback for your Prophecy</h2>

<p>Hitting submit will email the Prophet to let them know they have a prophecy to read.</p>

<p>The Prophecy reads:</p>
<p>{{ prophecy.prophecy_text }}</p>
    Please limit your rating to between 1 and 5.

    <form action ='.' method="post">
    {{ feedback_form.as_p}}
    {% csrf_token %}
    <p><input type="submit" value="Submit"></p>
</form>
<a href="{% url 'practicumweb:home' %}">Leave without recording a feedback</a>
{% endif %}
{% endblock %}
