{% extends 'practicum/base.html' %}

{% block content %}
    {% if new_prophecy %}
        <div class="notification is-success">
            <h2 class="title">Your Prophecy has been recorded</h2>
            <a href="{% url 'practicumweb:home' %}">Go back to your main page</a>
        </div>
    {% else %}
        <h2 class="title">Add a new Prophecy</h2>

        Pressing Submit will email your supplicant.

        <p>You are praying for random ID: {{ random }}. </p>
        <form action='.' method="post">
            {{ prophecy_form.as_p }}
            {{ weekly_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Submit"></p>
        </form>
        <a href="{% url 'practicumweb:home' %}">Leave without recording a prophecy</a>
    {% endif %}
{% endblock %}
