{% extends 'practicum/base.html' %}

{% block content %}
<h1>Prophecy from {{ prophecy.prophet }} </h1>
<h2>Text:</h2>
<p>{{ prophecy.prophecy_text }} </p>

<p>just testing for a second here....</p>
<form action ='.' method="post">
    {{ prophecy_form.as_p}}
    {% csrf_token %}
    <p><input type="submit" value="Submit"></p></form>


{% if feedback_added %}
<h2>Feedback:</h2>
<p>Rating: {{ feedback.rating }}</p>
<p>Text: {{ feedback.text }}</p>
{% endif %}
<a href="{% url 'practicumweb:home' %}">Back to your home screen.</a>
{% endblock %}