{% extends 'practicum/base.html' %}

{% block title %} My Main Screen {% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi, {{user.username}}!

<h1>As Prophet:</h1>
<p><a href="{% url 'practicumweb:newprophecy' %}">Create Prophecy</a></p>

<p>Prophecies in Draft Status</p>
<ul>
{% for draft_prophecy in draft_prophecies %}
    <li>{{ draft_prophecy }}</li>
{% endfor %}
</ul>

<p>Published Prophecies</p>
<ul>
{% for published_prophecy in published_prophecies %}
    <li><a href="{{published_prophecy.get_absolute_url}}"> {{ published_prophecy }}</a></li>
{% endfor %}
</ul>
<h2>As Supplicant:</h2>
<p>Prophecies for Me</p>
<ul>
{% for prophecy_for_me in prophecies_for_me %}
    <li>{{ prophecy_for_me }}</li>
{% endfor %}
</ul>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}