{% extends 'practicum/base.html' %}

{% block content %}
    <h1 class="title is-size-1">Status Check</h1>
    {% if week_name != "" %}
        <h2 class="title is-size-3">Prophecy info for Practicum {{ week_name }}</h2>
        {% if prophecies_this_week %}
            <table class="table is-hoverable">
            <thead>
            <tr>
                <th>Prophecy Status</th>
                <th>Prophet</th>
                <th>Supplicant</th>
                <th>Feedback Status</th>
            </tr>
            </thead>
            <tbody>
            {% for prophecy in prophecies_this_week %}
                <tr>
                    <td>Prophecy completed</td>
                    <td>{{ prophecy.prophet }}</td>
                    <td>{{ prophecy.supplicant }}</td>
                    {% if prophecy in feedbacks %}
                        <td>Feedback Completed.</td>
                    {% else %}
                        <td>Feedback Incomplete.</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            No one has completed any prophecies for this week.
        {% endif %}
        <table class="table is-hoverable">
            <thead>
            <tr>
                <th>Prophecy Status</th>
                <th>Prophet</th>
                <th>Supplicant</th>
                <th>Feedback Status</th>
            </tr>
            </thead>
            <tbody>
    {% for link in linked_users %}
        {% if link.prophet in incomplete_prophets %}
            <tr>
            <td>Prophecy Incomplete</td>
            <td>{{ link.prophet }}</td>
            <td>{{ link.supplicant }}</td>
            <td>Feedback Incomplete.</td>
        {% endif %}
    {% endfor %}
    </tr>
    </tbody>
    </table>
    {% else %}
        <form action='.' method="post">
            {{ selection_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Submit"></p>
        </form>
    {% endif %}
{% endblock %}