<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Prophecy Practicum {% endblock %}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="hero is-small is-success mb-4">
    <div class="hero-body">
        <h1 class="title is-1">Prophecy Practicum</h1>
        <div class="columns">
            <div class="column">
                <a href="{% url 'login' %}">Login</a>
            </div>
            <div class="column">
                <span><a href="{% url 'practicumweb:home' %}">Main Page</a></span>
            </div>
            <div class="column">
                <span><a href="{% url 'practicumweb:instructions' %}">Instructions</a></span>
            </div>
            <div class="column">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <span>Admin</span>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a href="{% url 'admin:login' %}" class="dropdown-item">
                                Admin Page
                            </a>
                            <a href="{% url 'practicumweb:randomize' %}" class="dropdown-item">
                                Randomize
                            </a>
                            <a href="{% url 'practicumweb:status check' %}" class="dropdown-item">
                                Check Practicum Status
                            </a>
                        </div>
                    </div>
                </div>
            </div>
                <div class="column">
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>

</section>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>