{% extends 'practicum/base.html' %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-centered">
            <section class="section">
                <div class="container">

                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/OXI08C9AWHE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
        </div>
    </div>
    </div>
    </section>
{% endblock %}