{% extends 'practicum/base.html' %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-centered">
            <section class="section">
                <div class="container">

                    <div class="box box-shadow box-passing 1.24rem">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dpl7lCgyx3k"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
        </div>
    </div>
    </section>
{% endblock %}